<div class="container text-center">
  <h1 class="header padded-bottom"><%= @cocktail.name %></h1>
  <div class="row">
    <div class="col-xs-8 col-md-4 col-xs-offset-2 col-md-offset-4">
      <%= render 'form' %>
    </div>
  </div>
</div>
