/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.wrapper {
  height: 100vh;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}
body {
  font-family: “Source Sans Pro”, sans-serif;
  background-color: $main-offwhite;
  color: $main-green ;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}
.padded-top {
  margin-top: 50px;
}
.padded-bottom {
  margin-bottom: 50px;
}
.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.card-category {
  font-size: 35px;
  text-transform: uppercase;
}
.create {
  padding-top: 35px;
}
.row {
  margin-bottom: 10px;
}
